In [1]:
# Import packages

import numpy as np
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

C:\Anaconda\envs\MDA_env\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
# Import data

emdat_data = pd.read_excel('Data/HeatWaves_Europe_1900-2020.xlsx',header=6)
oecd_data = pd.read_excel('Data/Annual Heating Degree Days.xls.xlsx',header=4)

In [3]:
# Cleaning EM-DAT Data

emdat_selection = emdat_data[['Year','Location','Start Month','End Month','Start Day','End Day','Total Deaths']]
emdat_selection = emdat_selection[emdat_selection['Year']>=2000]
emdat_selection = emdat_selection.dropna(subset=['Location', 'Total Deaths'])

In [4]:
# Cleaning OECD Data

oecd_selection = oecd_data.loc[:, ~oecd_data.columns.str.contains('^Unnamed')]
oecd_selection = oecd_selection[oecd_selection['2000']!='..']
oecd_selection.dropna()

,Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
2,AUS01: Greater Sydney,1063,1022,961,1048,1001,924,1153,1060,1248,1029,1085,1306,1335,1152,1167,1163,1059,792,749
3,AUS02: Greater Melbourne,1471,1499,1390,1514,1488,1330,1620,1395,1561,1449,1562,1721,1779,1683,1630,1701,1657,1288,1170
4,AUS03: Greater Brisbane,370,333,357,306,359,267,389,377,452,376,397,691,650,484,579,457,410,189,215
5,AUS04: Greater Perth,697,790,692,734,785,816,748,757,829,790,778,710,738,736,650,553,909,425,426
6,AUS05: Greater Adelaide,1031,1129,1057,1135,1076,962,1209,1011,1169,1070,1137,1127,1209,1044,1087,1124,1092,741,662
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
697,USA164: Linn,3303,3122,3212,3340,3096,3094,2835,3187,3582,3346,3444,3457,2842,3749,4004,3158,3065,2688,3283
698,USA165: Lafayette (IN),2875,2592,2769,2942,2719,2806,2515,2712,2990,2835,2907,2856,2401,3071,3373,2744,2589,2202,2677
699,USA167: Weber,3708,3751,4071,3559,3922,3758,3730,3778,4053,4011,3960,4626,3785,4463,3876,3769,4131,3724,3346
700,USA169: Cass,4549,4345,4537,4562,4477,4283,3991,4397,4886,4774,4675,4422,3845,4966,5023,3965,3851,3759,4480
701,USA170: Benton (AR),1944,1729,1895,1843,1684,1737,1507,1708,1927,1852,1910,2059,1590,2278,2316,1873,1692,1312,1807

In [5]:
# Make dictionairies
emdat_cities = emdat_selection['Location']
emdat_cities.to_dict

oecd_cities = oecd_selection['Year']
oecd_cities = oecd_cities.drop([0,702])
oecd_cities.to_dict

#for key in emdat_cities.keys():
#    emdat_cities[key]

<bound method Series.to_dict of 2           AUS01: Greater Sydney
3        AUS02: Greater Melbourne
4         AUS03: Greater Brisbane
5            AUS04: Greater Perth
6         AUS05: Greater Adelaide
                  ...
697                  USA164: Linn
698        USA165: Lafayette (IN)
699                 USA167: Weber
700                  USA169: Cass
701           USA170: Benton (AR)
Name: Year, Length: 664, dtype: object>

In [10]:
# Matching procedure
lst_emdat_cities = list(emdat_cities)
lst_oecd_cities = list(oecd_cities)

matching = []

for i in range(len(lst_emdat_cities)):
    for j in range(len(lst_oecd_cities)):
        if fuzz.ratio(lst_emdat_cities[i], lst_oecd_cities[j]) > 30:
            matching.append(lst_oecd_cities[j])
            
matching


#matches = [x for x in set(emdat_cities) if x in set(oecd_cities)]

#for emdat_key in emdat_cities.keys():
#    emdat_str = emdat_cities[emdat_key]
#    for oecd_key in oecd_cities.keys():
#        oecd_str = oecd_cities[oecd_key]
#        if any(x in emdat_str for x in oecd_str):
#            matching_dict[emdat_key] = oecd_key
#matching_dict

['  DE004: Cologne',
 '  DE026: Trier',
 '  UK515: Brighton and Hove',
 '  UK557: Blackburn with Darwen',
 '  NL007: Groningen',
 '  USA53: Providence',
 '  COL14: Villavicencio',
 '  UK013: Newcastle upon Tyne',
 '  USA53: Providence',
 '  AUS02: Greater Melbourne',
 '  UK520: Southampton',
 '  IT007: Florence',
 '  IT027: Cagliari',
 '  MEX43: Guadalupe',
 '  NL007: Groningen',
 '  USA06: Philadelphia (Greater)',
 '  USA25: Indianapolis',
 '  USA53: Providence',
 '  USA67: San Joaquin',
 '  USA77: Dauphin',
 '  BE004: Charleroi',
 '  DE005: Frankfurt am Main',
 '  DE018: Halle an der Saale',
 '  DE036: Monchengladbach',
 '  ES003: Valencia',
 '  ES010: Palma de Mallorca',
 '  ES015: Santander',
 '  ES025: Santa Cruz de Tenerife',
 '  ES510: Donostia-San Sebastian',
 '  FR034: Valenciennes',
 '  FR214: Valence',
 '  UK002: West Midlands urban area',
 '  UK013: Newcastle upon Tyne',
 '  UK515: Brighton and Hove',
 '  MEX11: San Luis Potosi',
 '  MEX38: Tepic',
 '  USA53: Providence',
 '  UK515: Brighton and Hove',
 '  USA53: Providence',
 '  AUS02: Greater Melbourne',
 '  AUS05: Greater Adelaide',
 '  DE027: Freiburg im Breisgau',
 '  LU001: Luxembourg',
 '  USA53: Providence',
 '  BE004: Charleroi',
 '  CL010: Valparaiso',
 '  CL011: Santiago',
 '  CL020: Concepcion',
 '  COL11: Santa Marta',
 '  COL14: Villavicencio',
 '  COL21: Sincelejo',
 '  FR207: Lens - Lievin',
 '  UK013: Newcastle upon Tyne',
 '  MEX11: San Luis Potosi',
 '  MEX53: Chilpancingo de los Bravo',
 '  NL007: Groningen',
 '  USA53: Providence',
 '  USA69: Charleston',
 '  FR034: Valenciennes',
 '  BE004: Charleroi',
 '  CL025: Puerto Montt',
 '  DE527: Bremerhaven',
 '  FR037: Brest',
 '  UK002: West Midlands urban area',
 '  UK013: Newcastle upon Tyne',
 '  UK515: Brighton and Hove',
 '  UK562: Preston',
 '  MEX08: Queretaro',
 '  NL007: Groningen',
 '  USA33: Jacksonville',
 '  USA53: Providence',
 '  USA69: Charleston',
 '  USA133: Thurston',
 '  UK568: Cheshire West and Chester',
 '  USA53: Providence',
 '  MEX63: Tulancingo de Bravo',
 '  BE004: Charleroi',
 '  DE005: Frankfurt am Main',
 '  DE018: Halle an der Saale',
 '  DE036: Monchengladbach',
 '  ES003: Valencia',
 '  ES010: Palma de Mallorca',
 '  ES015: Santander',
 '  ES025: Santa Cruz de Tenerife',
 '  ES510: Donostia-San Sebastian',
 '  FR034: Valenciennes',
 '  FR214: Valence',
 '  UK002: West Midlands urban area',
 '  UK013: Newcastle upon Tyne',
 '  UK515: Brighton and Hove',
 '  MEX11: San Luis Potosi',
 '  MEX38: Tepic',
 '  USA53: Providence',
 '  CL010: Valparaiso',
 '  CL023: Valdivia',
 '  COL03: Cali',
 '  COL14: Villavicencio',
 '  COL16: Valledupar',
 '  ES009: Valladolid',
 '  ES020: Cordoba',
 '  MEX48: Cordoba',
 '  MEX59: Puerto Vallarta',
 '  DE549: Bocholt, Stadt',
 '  MEX53: Chilpancingo de los Bravo',
 '  MEX63: Tulancingo de Bravo',
 '  USA05: San Francisco (Greater)',
 '  CAN03: Vancouver',
 '  CAN11: Kitchener',
 '  COL10: Manizales',
 '  COL11: Santa Marta',
 '  COL15: Monteria',
 '  COL16: Valledupar',
 '  COL21: Sincelejo',
 '  DE018: Halle an der Saale',
 '  DE054: Constance',
 '  DE084: Mannheim-Ludwigshafen',
 '  DE504: Muenster',
 '  ES015: Santander',
 '  ES026: Coruna (A)',
 '  ES510: Donostia-San Sebastian',
 '  UK008: Manchester',
 '  UK014: Leicester',
 '  UK506: Doncaster',
 '  UK546: Colchester',
 '  UK568: Cheshire West and Chester',
 '  MEX03: Monterrey',
 '  MEX14: Cuernavaca',
 '  MEX32: Pachuca de Soto',
 '  MEX58: Campeche',
 '  USA02: Los Angeles (Greater)',
 '  USA05: San Francisco (Greater)',
 '  USA09: Miami (Greater)',
 '  USA43: Virginia Beach',
 '  USA56: Rochester (NY)',
 '  USA61: Worcester',
 '  USA69: Charleston',
 '  USA85: Lancaster (PA)',
 '  USA109: Monterey',
 '  USA119: Tallahassee',
 '  USA130: Collier',
 '  USA132: Lancaster (NE)',
 '  IT002: Milan',
 "  IT505: Reggio nell'Emilia",
 '  MEX32: Pachuca de Soto',
 '  MEX66: Othon P. Blanco']