# Import packages

In [4]:
import numpy as np
import pandas as pd
from pandas import DataFrame
from geopy.exc import GeocoderTimedOut
from geopy.geocoders import Nominatim

# Import  and merge data from oecd-files (Yueqi & Arabella)

In [5]:
# Import OECD-data from CSV-files
oecd_data1 = pd.read_csv('Data/CITIES_POPULATION.csv', sep="|", header=0)
oecd_data2 = pd.read_csv('Data/CITIES_AGE.csv', sep="|", header=0)
oecd_data3 = pd.read_csv('Data/CITIES_ECONOMY.csv', sep="|", header=0)
oecd_data4 = pd.read_csv('Data/CITIES_LABOUR.csv', sep="|", header=0)
oecd_data5 = pd.read_csv('Data/CITIES_TERRITORY.csv', sep="|", header=0)
oecd_data6 = pd.read_csv('DATA/CITIES_ENVIRONMENT.csv', sep="|", header=0)

In [6]:
# Put all OECD-data into dataframe and append all dataframes
oecd_data_df = [oecd_data1, oecd_data2, oecd_data3, oecd_data4, oecd_data5, oecd_data6]
# Call concat method
oecd_df = pd.concat(oecd_data_df)

In [7]:
# first, we print the oecd file of cities_territory, check what variables we have
print(oecd_data5)

      METRO_ID Metropolitan areas            VAR  \
0        AT001             Vienna           SURF
1        AT001             Vienna       URB_AREA
2        AT001             Vienna       URB_AREA
3        AT002               Graz           SURF
4        AT002               Graz       URB_AREA
...        ...                ...            ...
56216    MEX64             Carmen       URB_AREA
56217    MEX64             Carmen  URB_AREA_CORE
56218    MEX64             Carmen  URB_AREA_CORE
56219    MEX64             Carmen    URB_AREA_PC
56220    MEX64             Carmen    URB_AREA_PC

                                               Variables  TIME  Year  \
0                      Metropolitan area total land area  2018  2018
1      Urbanised area (built-up area or land for urba...  2000  2000
2      Urbanised area (built-up area or land for urba...  2014  2014
3                      Metropolitan area total land area  2018  2018
4      Urbanised area (built-up area or land for urba...  2000  2000
...                                                  ...   ...   ...
56216  Urbanised area (built-up area or land for urba...  2014  2014
56217              Urbanised area of the core area (km2)  2000  2000
56218              Urbanised area of the core area (km2)  2014  2014
56219          Urbanised area per capita (m2 per capita)  2000  2000
56220          Urbanised area per capita (m2 per capita)  2014  2014

      Unit Code               Unit  PowerCode Code PowerCode  \
0           NaN                NaN               0     Units
1           NaN                NaN               0     Units
2           NaN                NaN               0     Units
3           NaN                NaN               0     Units
4           NaN                NaN               0     Units
...         ...                ...             ...       ...
56216       NaN                NaN               0     Units
56217       KM2  Square kilometres               0     Units
56218       KM2  Square kilometres               0     Units
56219       NaN                NaN               0     Units
56220       NaN                NaN               0     Units

       Reference Period Code  Reference Period   Value  Flag Codes  Flags
0                        NaN               NaN  9617.0         NaN    NaN
1                        NaN               NaN   746.0         NaN    NaN
2                        NaN               NaN   858.0         NaN    NaN
3                        NaN               NaN  3094.0         NaN    NaN
4                        NaN               NaN   218.0         NaN    NaN
...                      ...               ...     ...         ...    ...
56216                    NaN               NaN    28.0         NaN    NaN
56217                    NaN               NaN    26.0         NaN    NaN
56218                    NaN               NaN    28.0         NaN    NaN
56219                    NaN               NaN   137.0         NaN    NaN
56220                    NaN               NaN   116.0         NaN    NaN

[56221 rows x 15 columns]

# Tip 1: calculate construction ratio out of oecd_data5

In [9]:
#pick the Territory dataset, calculate the construction densiy ratio
oecd_data5_1 = oecd_data5.loc[oecd_data5['Variables']=='Urbanised area (built-up area or land for urban use in km2)']

oecd_data5_2 = oecd_data5.loc[oecd_data5['Variables']=='Metropolitan area total land area']


#oecd_data5_1 has 1336 rows, while oecd_data5_2 has 668 rows (exactly two time of the first dataset), 
#we could try to combine the two datasets by the common column "METRO_ID",

oecd_data5_improved = pd.merge(oecd_data5_1,oecd_data5_2,how='inner',on='METRO_ID')

#and then calculate the constuction density ratio = "Urbanised area" / "Metropolitan area total land area"
oecd_data5_improved['construction_ratio'] = oecd_data5_improved['Value_x'] / oecd_data5_improved['Value_y']
print(oecd_data5_improved)

     METRO_ID Metropolitan areas_x     VAR_x  \
0       AT001               Vienna  URB_AREA
1       AT001               Vienna  URB_AREA
2       AT002                 Graz  URB_AREA
3       AT002                 Graz  URB_AREA
4       AT003                 Linz  URB_AREA
...       ...                  ...       ...
1331    JPN28            Takamatsu  URB_AREA
1332    JPN31               Numazu  URB_AREA
1333    JPN31               Numazu  URB_AREA
1334    MEX64               Carmen  URB_AREA
1335    MEX64               Carmen  URB_AREA

                                            Variables_x  TIME_x  Year_x  \
0     Urbanised area (built-up area or land for urba...    2000    2000
1     Urbanised area (built-up area or land for urba...    2014    2014
2     Urbanised area (built-up area or land for urba...    2000    2000
3     Urbanised area (built-up area or land for urba...    2014    2014
4     Urbanised area (built-up area or land for urba...    2000    2000
...                                                 ...     ...     ...
1331  Urbanised area (built-up area or land for urba...    2014    2014
1332  Urbanised area (built-up area or land for urba...    2000    2000
1333  Urbanised area (built-up area or land for urba...    2014    2014
1334  Urbanised area (built-up area or land for urba...    2000    2000
1335  Urbanised area (built-up area or land for urba...    2014    2014

     Unit Code_x Unit_x  PowerCode Code_x PowerCode_x  ...  Unit Code_y  \
0            NaN    NaN                 0       Units  ...          NaN
1            NaN    NaN                 0       Units  ...          NaN
2            NaN    NaN                 0       Units  ...          NaN
3            NaN    NaN                 0       Units  ...          NaN
4            NaN    NaN                 0       Units  ...          NaN
...          ...    ...               ...         ...  ...          ...
1331         NaN    NaN                 0       Units  ...          NaN
1332         NaN    NaN                 0       Units  ...          NaN
1333         NaN    NaN                 0       Units  ...          NaN
1334         NaN    NaN                 0       Units  ...          NaN
1335         NaN    NaN                 0       Units  ...          NaN

      Unit_y  PowerCode Code_y  PowerCode_y  Reference Period Code_y  \
0        NaN                 0        Units                      NaN
1        NaN                 0        Units                      NaN
2        NaN                 0        Units                      NaN
3        NaN                 0        Units                      NaN
4        NaN                 0        Units                      NaN
...      ...               ...          ...                      ...
1331     NaN                 0        Units                      NaN
1332     NaN                 0        Units                      NaN
1333     NaN                 0        Units                      NaN
1334     NaN                 0        Units                      NaN
1335     NaN                 0        Units                      NaN

     Reference Period_y Value_y Flag Codes_y  Flags_y  construction_ratio
0                   NaN  9617.0          NaN      NaN            0.077571
1                   NaN  9617.0          NaN      NaN            0.089217
2                   NaN  3094.0          NaN      NaN            0.070459
3                   NaN  3094.0          NaN      NaN            0.080155
4                   NaN  3552.0          NaN      NaN            0.045608
...                 ...     ...          ...      ...                 ...
1331                NaN   814.0          NaN      NaN            0.272727
1332                NaN   948.0          NaN      NaN            0.128692
1333                NaN   948.0          NaN      NaN            0.129747
1334                NaN  8620.0          NaN      NaN            0.003016
1335                NaN  8620.0          NaN      NaN            0.003248

[1336 rows x 30 columns]

# Tip2 get the tree-cover ratio out of oecd_data6

In [10]:
#check the oecd_data6
print(oecd_data6)
#we already have the tree-cover ratio

       METRO_ID Metropolitan areas                   VAR  \
0         USA62            Hidalgo               SPEX_10
1         USA62            Hidalgo               SPEX_10
2         USA62            Hidalgo               SPEX_10
3         USA62            Hidalgo               SPEX_10
4         USA62            Hidalgo               SPEX_10
...         ...                ...                   ...
110603    USA99           Mahoning          SPEX_35_CORE
110604    USA99           Mahoning          SPEX_35_CORE
110605    USA99           Mahoning  TREECOVER_SHARE_CORE
110606    USA99           Mahoning  TREECOVER_SHARE_CORE
110607    USA99           Mahoning  TREECOVER_SHARE_CORE

                                                Variables  TIME  Year  \
0       Share of population exposed to a level of PM2....  2000  2000
1       Share of population exposed to a level of PM2....  2005  2005
2       Share of population exposed to a level of PM2....  2010  2010
3       Share of population exposed to a level of PM2....  2011  2011
4       Share of population exposed to a level of PM2....  2012  2012
...                                                   ...   ...   ...
110603  Share of population in the core area exposed t...  2018  2018
110604  Share of population in the core area exposed t...  2019  2019
110605  Tree cover, as a share of the metropolitan cor...  2004  2004
110606  Tree cover, as a share of the metropolitan cor...  2015  2015
110607  Tree cover, as a share of the metropolitan cor...  2018  2018

        Unit Code  Unit  PowerCode Code PowerCode  Reference Period Code  \
0             NaN   NaN               0     Units                    NaN
1             NaN   NaN               0     Units                    NaN
2             NaN   NaN               0     Units                    NaN
3             NaN   NaN               0     Units                    NaN
4             NaN   NaN               0     Units                    NaN
...           ...   ...             ...       ...                    ...
110603        NaN   NaN               0     Units                    NaN
110604        NaN   NaN               0     Units                    NaN
110605        NaN   NaN               0     Units                    NaN
110606        NaN   NaN               0     Units                    NaN
110607        NaN   NaN               0     Units                    NaN

        Reference Period  Value  Flag Codes  Flags
0                    NaN  100.0         NaN    NaN
1                    NaN   99.6         NaN    NaN
2                    NaN   97.4         NaN    NaN
3                    NaN    0.0         NaN    NaN
4                    NaN   88.9         NaN    NaN
...                  ...    ...         ...    ...
110603               NaN    0.0         NaN    NaN
110604               NaN    0.0         NaN    NaN
110605               NaN   21.6         NaN    NaN
110606               NaN   20.8         NaN    NaN
110607               NaN   20.3         NaN    NaN

[110608 rows x 15 columns]

In [11]:
# TEMPORARY: visualize the results
oecd_df

,METRO_ID,Metropolitan areas,VAR,Variables,TIME,Year,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,USA116,Allen,T_T,"Population, all ages, administrative data",2001,2001,PER,Persons,0,Units,NaN,NaN,365954.0,NaN,NaN
1,USA116,Allen,T_T,"Population, all ages, administrative data",2002,2002,PER,Persons,0,Units,NaN,NaN,368402.0,NaN,NaN
2,USA116,Allen,T_T,"Population, all ages, administrative data",2003,2003,PER,Persons,0,Units,NaN,NaN,371190.0,NaN,NaN
3,USA116,Allen,T_T,"Population, all ages, administrative data",2004,2004,PER,Persons,0,Units,NaN,NaN,372757.0,NaN,NaN
4,USA116,Allen,T_T,"Population, all ages, administrative data",2005,2005,PER,Persons,0,Units,NaN,NaN,375420.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110603,USA99,Mahoning,SPEX_35_CORE,Share of population in the core area exposed t...,2018,2018,NaN,NaN,0,Units,NaN,NaN,0.0,NaN,NaN
110604,USA99,Mahoning,SPEX_35_CORE,Share of population in the core area exposed t...,2019,2019,NaN,NaN,0,Units,NaN,NaN,0.0,NaN,NaN
110605,USA99,Mahoning,TREECOVER_SHARE_CORE,"Tree cover, as a share of the metropolitan cor...",2004,2004,NaN,NaN,0,Units,NaN,NaN,21.6,NaN,NaN
110606,USA99,Mahoning,TREECOVER_SHARE_CORE,"Tree cover, as a share of the metropolitan cor...",2015,2015,NaN,NaN,0,Units,NaN,NaN,20.8,NaN,NaN
110607,USA99,Mahoning,TREECOVER_SHARE_CORE,"Tree cover, as a share of the metropolitan cor...",2018,2018,NaN,NaN,0,Units,NaN,NaN,20.3,NaN,NaN

## Rename columnames

In [12]:
# create a dictionary where key = old name and value = new name
dict = {'METRO_ID': 'metroId',
        'Metropolitan areas': 'metropolitanAreas',
        'VAR': 'var',
       'Variables' : 'variables',
        'TIME' : 'time',
        'Year' : 'year',
        'Unit Code': 'unitCode',
        'Unit' : 'unit',
        'PowerCode Code' : 'powerCodeCode',
        'PowerCode': 'powerCode',
        'Reference Period Code' : 'referencePeriodCode',
        'Reference Period' : 'referencePeriod',
        'Value':'value',
        'Flag Codes' : 'flagCodes',
        'Flags': 'flags'
       }
  
# call rename () method
oecd_df.rename(columns=dict,
          inplace=True)

In [13]:
# Checking the data
print(oecd_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 586301 entries, 0 to 110607
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   metroId              586301 non-null  object
 1   metropolitanAreas    586301 non-null  object
 2   var                  586301 non-null  object
 3   variables            586301 non-null  object
 4   time                 586301 non-null  int64
 5   year                 586301 non-null  int64
 6   unitCode             138868 non-null  object
 7   unit                 138868 non-null  object
 8   powerCodeCode        586301 non-null  int64
 9   powerCode            586301 non-null  object
 10  referencePeriodCode  0 non-null       float64
 11  referencePeriod      0 non-null       float64
 12  value                584753 non-null  float64
 13  flagCodes            29450 non-null   object
 14  flags                29450 non-null   object
dtypes: float64(3), int64(3), object(9)
memory usage: 51.4+ MB
None

# Add longitude and latitude to join data
Strings that represent metropolitan areas are often different, which makes it difficult to join data from different sources. For example, "Lafayette (IN)" and "Lafayette, IN" and "Lafayette". Therefore, longitude and latitude are added as a unique identifier to join data.
## Create unique list of metropolitans from dataframe

In [14]:
# The length of the list is determined first, to determine which function to apply
len(oecd_df['metropolitanAreas'].unique().tolist())

665

In [15]:
# Assign the list to a variable
metro_list= oecd_df['metropolitanAreas'].unique().tolist()
# Convert the list into a dataframe
df_metropolitan=DataFrame (metro_list, columns=['metropolitanAreas'] )
# Check the dataframe
df_metropolitan

    metropolitanAreas
0               Allen
1              Warsaw
2           Kagoshima
3            Mexicali
4           Leicester
..                ...
660              Cass
661            Carmen
662              Linn
663    Lafayette (IN)
664             Weber

[665 rows x 1 columns]

## Add longitudes and latitudes to metropolitans

In [16]:
# declare an empty list to store latitude and longitude of values of the metropolitanAreas column
longitude = []
latitude = []

# use function to find the coordinate of a given metropolitanArea
def findGeocode(city):

    # try and catch is used to overcome the exception thrown by geolocator using geocodertimedout
    try:
        # Specify the user_agent as app name: this is my (Arabella) local address
        geolocator = Nominatim(user_agent="127.0.0.1:8888") 
        return geolocator.geocode(city)
    except GeocoderTimedOut:
        return findGeocode(city)

# each value from city column will be fetched and sent to function find_geocode
for i in (df_metropolitan["metropolitanAreas"]):

    if findGeocode(i) != None:

        loc = findGeocode(i)

        # coordinates returned from function is stored into two separate list
        latitude.append(loc.latitude)
        longitude.append(loc.longitude)

    # if coordinate for a city not found, insert "NaN" indicating missing value
    else:
        latitude.append(np.nan)
        longitude.append(np.nan)

In [17]:
# now add each column to dataframe
df_metropolitan["longitude"] = longitude
df_metropolitan["latitude"] = latitude

In [18]:
df_metropolitan

    metropolitanAreas   longitude   latitude
0               Allen  -95.317021  37.888217
1              Warsaw   21.006725  52.231958
2           Kagoshima  130.547408  31.521587
3            Mexicali -115.448325  32.624862
4           Leicester   -1.133079  52.636140
..                ...         ...        ...
660              Cass  -94.351037  33.056086
661            Carmen  125.674482   7.375394
662              Linn  -91.603793  42.063183
663    Lafayette (IN)  -86.890423  40.403467
664             Weber -111.886065  41.272804

[665 rows x 3 columns]

# Merge and write to csv

In [19]:
# merge the dataframes
df_oecdCoord = pd.merge(oecd_df, df_metropolitan, on="metropolitanAreas")

# write the dataframe to csv
df_oecdCoord.to_csv('Data/CITIES_ALL', header="True", sep="|", doublequote=True)

# Transpose data matrix into row = cities, columns = variables (TIBOR)

In [83]:
#Now we're going to transform the matrix such that on the rows we find countries, whereas on the columns we find variables
#In principle, such matrix could be built for every year

#first get rid of all unnecessecary columns
df_oecd_col_red = df_oecdCoord[['metroId','metropolitanAreas','latitude','longitude','var','variables','year','value']]

#first test some things on 1 year
df_oecd_col_red_14 = df_oecd_col_red[df_oecd_col_red['year']==2014]
#df_oecd_col_red_14.head()

#group by metropolitanAreas
df_total_14 = df_oecd_col_red_14[['metroId','metropolitanAreas','latitude','longitude','var','variables','value']]

df_total_14 = df_total_14.pivot_table(index=['metroId','metropolitanAreas','latitude','longitude'], 
                    columns=['var','variables'], 
                    values='value', 
                    aggfunc='mean')
df_total_14

,,,var,CDD,ELD_DEP_RA,EMP_IND_TOTAL,EMP_RA_15_64,EMP_RA_15_64_GR_2001,EMP_RA_15_64_GR_2007,EMP_RA_15_MAX,EMP_RA_15_MAX_GR_2001,EMP_RA_15_MAX_GR_2007,EMP_Y15_64,...,UNEM_RA_15_MAX,UNEM_Y15_64,UNEM_Y15_64_SH_NAT,UNEM_Y15_MAX,UNEM_Y15_MAX_SH_NAT,URB_AREA,URB_AREA_CORE,URB_AREA_HINTER,URB_AREA_PC,YOU_DEP_RA
,,,variables,Annual Cooling Degree Days (Sum over a year of the differences between the daily mean outdoor air temperature and the threshold temperature (22Â°C) when the daily mean outdoor temperature is above 22Â°C),Elderly dependency ratio (65+ over population 15-64),Employment at place of work,Employment rate (employment 15-64 over population 15-64),"Employment rate growth index (2001=100), 15-64 years old","Employment rate growth index (2007=100), 15-64 years old",Employment rate (employment 15+ over population 15+),"Employment rate growth index (2001=100), 15 years old and over","Employment rate growth index (2007=100), 15 years old and over",Employment (15-64 years old),...,Unemployment rate (unemployment 15+ over labour force 15+),Unemployment (15-64 years old),Unemployment (15-64 years old) of the metropolitan area as a share of the national value,Unemployment (15 years old and over),Unemployment (15 years old and over) of the metropolitan area as share of the national value,Urbanised area (built-up area or land for urban use in km2),Urbanised area of the core area (km2),Urbanised area of the hinterland area (km2),Urbanised area per capita (m2 per capita),Youth dependency ratio (-15 over population 15-64)
metroId,metropolitanAreas,latitude,longitude,,,,,,,,,,,,,,,,,,,,,
AT001,Vienna,48.208354,16.372504,23.0,26.2,1408986.0,66.1,96.7,101.0,54.4,96.0,96.8,1263282.0,...,7.6,116316.0,47.6,107269.0,43.8,858.0,222.0,636.0,303.0,21.1
AT002,Graz,47.070868,15.438279,2.0,25.8,337576.0,65.4,106.5,92.6,54.3,97.3,93.9,281151.0,...,4.8,15631.0,6.4,14906.0,6.1,248.0,59.0,189.0,393.0,19.8
AT003,Linz,48.305908,14.286198,2.0,25.9,341180.0,71.3,102.7,100.4,60.7,104.9,99.6,300108.0,...,4.2,NaN,NaN,13948.0,5.7,189.0,43.0,146.0,303.0,22.1
AT004,Salzburg,47.798135,13.046481,1.0,26.2,211410.0,73.5,104.0,103.9,58.1,97.0,92.7,178429.0,...,3.6,6654.0,2.7,6615.0,2.7,97.0,28.0,69.0,268.0,21.8
AT005,Innsbruck,47.265430,11.392769,0.0,25.1,189869.0,69.1,103.0,97.5,58.7,103.9,94.8,158927.0,...,3.4,NaN,NaN,5987.0,2.4,108.0,19.0,88.0,322.0,20.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA95,Ingham,42.586050,-84.380084,15.0,19.5,NaN,NaN,NaN,NaN,58.1,87.9,93.2,NaN,...,5.9,NaN,NaN,14267.0,0.1,271.0,141.0,130.0,578.0,25.0
USA96,Montgomery (AL),33.810124,-86.809849,550.0,20.9,245777.0,NaN,NaN,NaN,43.8,94.3,95.2,NaN,...,6.6,NaN,NaN,11268.0,0.1,246.0,154.0,92.0,528.0,28.6
USA97,Knox,33.587139,-99.707362,141.0,21.5,NaN,NaN,NaN,NaN,52.8,87.3,85.9,NaN,...,6.2,NaN,NaN,13304.0,0.1,253.0,242.0,11.0,532.0,26.4
USA98,Greenville,34.851354,-82.398488,221.0,21.7,NaN,NaN,NaN,NaN,55.3,84.6,89.9,NaN,...,5.7,NaN,NaN,13010.0,0.1,251.0,251.0,NaN,517.0,29.9
USA99,Mahoning,40.932564,-79.459210,23.0,30.1,NaN,NaN,NaN,NaN,51.3,94.4,92.8,NaN,...,6.7,NaN,NaN,13491.0,0.1,290.0,151.0,139.0,676.0,26.4

In [70]:
print(df_total_14.info())

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 664 entries, ('Aachen', 50.776351, 6.083862) to ('s-Hertogenbosch', 51.6889351, 5.3031044)
Data columns (total 75 columns):
 #   Column                                                                                                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                                                                                                              --------------  -----
 0   (CDD, Annual Cooling Degree Days (Sum over a year of the differences between the daily mean outdoor air temperature and the threshold temperature (22Â°C) when the daily mean outdoor temperature is above 22Â°C))  660 non-null    float64
 1   (ELD_DEP_RA, Elderly dependency ratio (65+ over population 15-64))                                                                                                                                                  627 non-null    float64
 2   (EMP_IND_TOTAL, Employment at place of work)                                                                                                                                                                        395 non-null    float64
 3   (EMP_RA_15_64, Employment rate (employment 15-64 over population 15-64))                                                                                                                                            235 non-null    float64
 4   (EMP_RA_15_64_GR_2001, Employment rate growth index (2001=100), 15-64 years old)                                                                                                                                    206 non-null    float64
 5   (EMP_RA_15_64_GR_2007, Employment rate growth index (2007=100), 15-64 years old)                                                                                                                                    220 non-null    float64
 6   (EMP_RA_15_MAX, Employment rate (employment 15+ over population 15+))                                                                                                                                               440 non-null    float64
 7   (EMP_RA_15_MAX_GR_2001, Employment rate growth index (2001=100), 15 years old and over)                                                                                                                             358 non-null    float64
 8   (EMP_RA_15_MAX_GR_2007, Employment rate growth index (2007=100), 15 years old and over)                                                                                                                             427 non-null    float64
 9   (EMP_Y15_64, Employment (15-64 years old) )                                                                                                                                                                         235 non-null    float64
 10  (EMP_Y15_64_SH_NAT, Employment (15-64 years old) as a share of the national value)                                                                                                                                  235 non-null    float64
 11  (EMP_Y15_MAX, Employment (15 years old and over) )                                                                                                                                                                  440 non-null    float64
 12  (EMP_Y15_MAX_SH_NAT, Employment (15 years old and over) as a share of the national value)                                                                                                                           440 non-null    float64
 13  (FRAGMENTATION, Territorial fragmentation (local governments per 100 000 inhabitants))                                                                                                                              631 non-null    float64
 14  (GDP_PC_REAL_PPP, GDP per capita (USD, constant prices, constant PPP, base year 2015))                                                                                                                              488 non-null    float64
 15  (GDP_PC_SH_NAT, GDP per capita in the metropolitan area as a share of the national value)                                                                                                                           479 non-null    float64
 16  (GDP_PW_REAL_PPP, Labour productivity (GDP per worker in USD, constant prices, constant PPP, base year 2015))                                                                                                       400 non-null    float64
 17  (GDP_REAL_PPP, GDP (Million USD, constant prices, constant PPP, base year 2015))                                                                                                                                    488 non-null    float64
 18  (GDP_SH_NAT, GDP of the metropolitan area as a share of the national GDP)                                                                                                                                           479 non-null    float64
 19  (HDD, Annual Heating Degree Days (Sum over a year of the differences between the threshold temperature (15.5Â°C) and the daily mean outdoor temperature when the daily mean outdoor temperature is below 15.5Â°C))  660 non-null    float64
 20  (LF_Y15_64, Labour force (15-64 years old) )                                                                                                                                                                        235 non-null    float64
 21  (LF_Y15_64_SH_NAT, Labour force (15-64 years old) as a share of the national value)                                                                                                                                 235 non-null    float64
 22  (LF_Y15_MAX, Labour force (15 years old and over) )                                                                                                                                                                 450 non-null    float64
 23  (LF_Y15_MAX_SH_NAT, Labour force (15 years old and over) as a share of the national value)                                                                                                                          450 non-null    float64
 24  (PARTIC_RA_15_64, Participation rate (labour force 15-64 over population 15-64))                                                                                                                                    235 non-null    float64
 25  (PARTIC_RA_15_64_GR_2001, Participation rate growth index (2001=100), 15-64 years old)                                                                                                                              208 non-null    float64
 26  (PARTIC_RA_15_64_GR_2007, Participation rate growth index (2007=100), 15-64 years old)                                                                                                                              221 non-null    float64
 27  (PARTIC_RA_15_MAX, Participation rate (labour force 15+ over population 15+))                                                                                                                                       450 non-null    float64
 28  (PARTIC_RA_15_MAX_GR_2001, Participation rate growth index (2001=100), 15 years old and over)                                                                                                                       370 non-null    float64
 29  (PARTIC_RA_15_MAX_GR_2007, Participation rate growth index (2007=100), 15 years old and over)                                                                                                                       439 non-null    float64
 30  (POP_DEN, Population density (inhabitants per km2))                                                                                                                                                                 664 non-null    float64
 31  (POP_DEN_CORE, Population density of the core area (inhabitants per km2))                                                                                                                                           664 non-null    float64
 32  (POP_DEN_HINTER, Population density of the hinterland area (inhabitants per km2))                                                                                                                                   528 non-null    float64
 33  (POP_TOT_GI, Growth/shrinking index of the total population (2001=100))                                                                                                                                             515 non-null    float64
 34  (PWM_EX, Mean population exposure to PM2.5 air pollution)                                                                                                                                                           663 non-null    float64
 35  (PWM_EX_CORE, Mean population exposure to PM2.5 air pollution in the core area)                                                                                                                                     663 non-null    float64
 36  (SPEX_10, Share of population exposed to a level of PM2.5 above 10 Âµg/m3)                                                                                                                                          663 non-null    float64
 37  (SPEX_10_CORE, Share of population in the core area exposed to a level of PM2.5 above 10 Âµg/m3)                                                                                                                    663 non-null    float64
 38  (SPEX_15, Share of population exposed to a level of PM2.5 above 15 Âµg/m3)                                                                                                                                          663 non-null    float64
 39  (SPEX_15_CORE, Share of population in the core area exposed to a level of PM2.5 above 15 Âµg/m3)                                                                                                                    663 non-null    float64
 40  (SPEX_25, Share of population exposed to a level of PM2.5 above 25 Âµg/m3)                                                                                                                                          663 non-null    float64
 41  (SPEX_25_CORE, Share of population in the core area exposed to a level of PM2.5 above 25 Âµg/m3)                                                                                                                    663 non-null    float64
 42  (SPEX_35, Share of population exposed to a level of PM2.5 above 35 Âµg/m3)                                                                                                                                          663 non-null    float64
 43  (SPEX_35_CORE, Share of population in the core area exposed to a level of PM2.5 above 35 Âµg/m3)                                                                                                                    663 non-null    float64
 44  (T_T, Population, all ages, administrative data)                                                                                                                                                                    631 non-null    float64
 45  (T_T_CORE, Population of the core area)                                                                                                                                                                             631 non-null    float64
 46  (T_T_HINTER, Population of the hinterland area)                                                                                                                                                                     504 non-null    float64
 47  (T_T_SH_NAT, Population of the metropolitan area as a share of the national population)                                                                                                                             631 non-null    float64
 48  (T_Y0_14, Youth population group (0-14))                                                                                                                                                                            627 non-null    float64
 49  (T_Y0_14_CORE, Youth population (0-14) of the core area)                                                                                                                                                            412 non-null    float64
 50  (T_Y0_14_CORE_SH, Youth population (0-14) of the core area as a share of the youth population of the total metropolitan area)                                                                                       412 non-null    float64
 51  (T_Y0_14_HINTER, Youth population (0-14) of the hinterland area)                                                                                                                                                    298 non-null    float64
 52  (T_Y0_14_SH_NAT, Youth population (0-14) of the metropolitan area as a share of the national youth population)                                                                                                      627 non-null    float64
 53  (T_Y15_64, Working age population group (15-64))                                                                                                                                                                    627 non-null    float64
 54  (T_Y15_64_CORE, Working age population (15-64) of the core area)                                                                                                                                                    412 non-null    float64
 55  (T_Y15_64_CORE_SH, Working age population (15-64) of the core area as a share of the youth population of the total metropolitan area)                                                                               412 non-null    float64
 56  (T_Y15_64_HINTER, Working age population (15-64) of the hinterland area)                                                                                                                                            298 non-null    float64
 57  (T_Y15_64_SH_NAT, Working age population (15-64) of the metropolitan area as a share of the national working age population)                                                                                        627 non-null    float64
 58  (T_Y65_MAX, Elderly population group (65+))                                                                                                                                                                         627 non-null    float64
 59  (T_Y65_MAX_CORE, Elderly population (65+) of the core area)                                                                                                                                                         412 non-null    float64
 60  (T_Y65_MAX_CORE_SH, Elderly population (65+) of the core area as a share of the elderly population of the total metropolitan area)                                                                                  412 non-null    float64
 61  (T_Y65_MAX_HINTER, Elderly population (65+) of the hinterland area)                                                                                                                                                 298 non-null    float64
 62  (T_Y65_MAX_SH_NAT, Elderly population (0-14) of the metropolitan area as a share of the national elderly population)                                                                                                627 non-null    float64
 63  (UNEM_RA_15_64, Unemployment rate (unemployment 15-64 over labour force 15-64))                                                                                                                                     215 non-null    float64
 64  (UNEM_RA_15_64_GR_2007, Unemployment rate growth index (2007=100), 15-64 years old)                                                                                                                                 172 non-null    float64
 65  (UNEM_RA_15_MAX, Unemployment rate (unemployment 15+ over labour force 15+))                                                                                                                                        450 non-null    float64
 66  (UNEM_Y15_64, Unemployment (15-64 years old) )                                                                                                                                                                      215 non-null    float64
 67  (UNEM_Y15_64_SH_NAT, Unemployment (15-64 years old) of the metropolitan area as a share of the national value)                                                                                                      212 non-null    float64
 68  (UNEM_Y15_MAX, Unemployment (15 years old and over) )                                                                                                                                                               450 non-null    float64
 69  (UNEM_Y15_MAX_SH_NAT, Unemployment (15 years old and over) of the metropolitan area as share of the national value)                                                                                                 450 non-null    float64
 70  (URB_AREA, Urbanised area (built-up area or land for urban use in km2))                                                                                                                                             664 non-null    float64
 71  (URB_AREA_CORE, Urbanised area of the core area (km2))                                                                                                                                                              664 non-null    float64
 72  (URB_AREA_HINTER, Urbanised area of the hinterland area (km2))                                                                                                                                                      528 non-null    float64
 73  (URB_AREA_PC, Urbanised area per capita (m2 per capita))                                                                                                                                                            664 non-null    float64
 74  (YOU_DEP_RA, Youth dependency ratio (-15 over population 15-64))                                                                                                                                                    627 non-null    float64
dtypes: float64(75)
memory usage: 406.0+ KB
None

In [103]:
#Now we only select the useful variables: i.e. aggregate variables, relative variables, ...
df_selection_14 = df_total_14[['CDD','URB_AREA','URB_AREA_CORE',
                               'URB_AREA_HINTER','FRAGMENTATION',
                               'GDP_PC_REAL_PPP','PARTIC_RA_15_64','POP_DEN',
                              'POP_TOT_GI','PWM_EX_CORE','T_Y0_14_SH_NAT',
                               'T_Y15_64_SH_NAT','T_Y65_MAX_SH_NAT'
                              ]]
df_selection_14

#NOTE : This is a preliminary reference dataset

,,,var,CDD,URB_AREA,URB_AREA_CORE,URB_AREA_HINTER,FRAGMENTATION,GDP_PC_REAL_PPP,PARTIC_RA_15_64,POP_DEN,POP_TOT_GI,PWM_EX_CORE,T_Y0_14_SH_NAT,T_Y15_64_SH_NAT,T_Y65_MAX_SH_NAT
,,,variables,Annual Cooling Degree Days (Sum over a year of the differences between the daily mean outdoor air temperature and the threshold temperature (22Â°C) when the daily mean outdoor temperature is above 22Â°C),Urbanised area (built-up area or land for urban use in km2),Urbanised area of the core area (km2),Urbanised area of the hinterland area (km2),Territorial fragmentation (local governments per 100 000 inhabitants),"GDP per capita (USD, constant prices, constant PPP, base year 2015)",Participation rate (labour force 15-64 over population 15-64),Population density (inhabitants per km2),Growth/shrinking index of the total population (2001=100),Mean population exposure to PM2.5 air pollution in the core area,Youth population (0-14) of the metropolitan area as a share of the national youth population,Working age population (15-64) of the metropolitan area as a share of the national working age population,Elderly population (0-14) of the metropolitan area as a share of the national elderly population
metroId,metropolitanAreas,latitude,longitude,,,,,,,,,,,,,
AT001,Vienna,48.208354,16.372504,23.0,858.0,222.0,636.0,12.4,53992.0,72.2,293.0,112.5,14.9,33.1,33.3,32.2
AT002,Graz,47.070868,15.438279,2.0,248.0,59.0,189.0,16.3,50492.0,69.8,202.0,110.8,17.7,7.0,7.5,7.1
AT003,Linz,48.305908,14.286198,2.0,189.0,43.0,146.0,22.6,53792.0,74.8,175.0,105.3,15.3,7.6,7.3,7.0
AT004,Salzburg,47.798135,13.046481,1.0,97.0,28.0,69.0,15.9,62784.0,76.3,232.0,105.5,12.3,4.3,4.2,4.1
AT005,Innsbruck,47.265430,11.392769,0.0,108.0,19.0,88.0,23.0,53602.0,71.7,132.0,110.4,12.6,3.9,4.0,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
USA95,Ingham,42.586050,-84.380084,15.0,271.0,141.0,130.0,7.2,42603.0,NaN,106.0,104.3,8.2,0.1,0.2,0.1
USA96,Montgomery (AL),33.810124,-86.809849,550.0,246.0,154.0,92.0,9.3,41655.0,NaN,33.0,105.4,10.6,0.1,0.1,0.1
USA97,Knox,33.587139,-99.707362,141.0,253.0,242.0,11.0,1.3,49942.0,NaN,233.0,115.5,9.1,0.1,0.1,0.1
USA98,Greenville,34.851354,-82.398488,221.0,251.0,251.0,NaN,4.4,53205.0,NaN,233.0,124.8,8.9,0.2,0.2,0.1
USA99,Mahoning,40.932564,-79.459210,23.0,290.0,151.0,139.0,9.6,38427.0,NaN,159.0,91.5,9.5,0.1,0.1,0.2

In [114]:
#Next we add (1) construction ratio and (2) Tree cover manually as variables

#Construction_data
construction_ratio_14 = oecd_data5_improved[oecd_data5_improved['Year_x']==2014]
construction_ratio_14 = construction_ratio_14[['METRO_ID','construction_ratio']]

#Tree_cover
tree_cover = oecd_data6[oecd_data6['VAR']=='TREECOVER_SHARE_CORE']
tree_cover = tree_cover[tree_cover['Year']==2015]
tree_cover = tree_cover[['METRO_ID','Value']]

tree_and_construction = pd.merge(construction_ratio_14,tree_cover,how='inner',on='METRO_ID')
tree_and_construction = tree_and_construction.rename(columns = {'METRO_ID':'metroId','construction_ratio': 'CONSTR_RAT', 'Value': 'TREECOVER_SHARE_CORE'}, inplace = False)

#Merge with main dataset
df_extended_14 = pd.merge(df_selection_14,tree_and_construction,how='outer',on='metroId')
df_extended_14

#NOTE: SOMEHOW, now the 'metropolitanAreas' have disappeared. To be looked into later

C:\Anaconda\lib\site-packages\pandas\core\reshape\merge.py:643: UserWarning: merging between different levels can give an unintended result (2 levels on the left,1 on the right)
  warnings.warn(msg, UserWarning)

,metroId,"(CDD, Annual Cooling Degree Days (Sum over a year of the differences between the daily mean outdoor air temperature and the threshold temperature (22Â°C) when the daily mean outdoor temperature is above 22Â°C))","(URB_AREA, Urbanised area (built-up area or land for urban use in km2))","(URB_AREA_CORE, Urbanised area of the core area (km2))","(URB_AREA_HINTER, Urbanised area of the hinterland area (km2))","(FRAGMENTATION, Territorial fragmentation (local governments per 100 000 inhabitants))","(GDP_PC_REAL_PPP, GDP per capita (USD, constant prices, constant PPP, base year 2015))","(PARTIC_RA_15_64, Participation rate (labour force 15-64 over population 15-64))","(POP_DEN, Population density (inhabitants per km2))","(POP_TOT_GI, Growth/shrinking index of the total population (2001=100))","(PWM_EX_CORE, Mean population exposure to PM2.5 air pollution in the core area)","(T_Y0_14_SH_NAT, Youth population (0-14) of the metropolitan area as a share of the national youth population)","(T_Y15_64_SH_NAT, Working age population (15-64) of the metropolitan area as a share of the national working age population)","(T_Y65_MAX_SH_NAT, Elderly population (0-14) of the metropolitan area as a share of the national elderly population)",CONSTR_RAT,TREECOVER_SHARE_CORE
0,AT001,23.0,858.0,222.0,636.0,12.4,53992.0,72.2,293.0,112.5,14.9,33.1,33.3,32.2,0.089217,22.1
1,AT002,2.0,248.0,59.0,189.0,16.3,50492.0,69.8,202.0,110.8,17.7,7.0,7.5,7.1,0.080155,32.9
2,AT003,2.0,189.0,43.0,146.0,22.6,53792.0,74.8,175.0,105.3,15.3,7.6,7.3,7.0,0.053209,15.6
3,AT004,1.0,97.0,28.0,69.0,15.9,62784.0,76.3,232.0,105.5,12.3,4.3,4.2,4.1,0.062743,18.8
4,AT005,0.0,108.0,19.0,88.0,23.0,53602.0,71.7,132.0,110.4,12.6,3.9,4.0,3.7,0.042671,56.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,USA96,550.0,246.0,154.0,92.0,9.3,41655.0,NaN,33.0,105.4,10.6,0.1,0.1,0.1,0.017839,48.7
664,USA97,141.0,253.0,242.0,11.0,1.3,49942.0,NaN,233.0,115.5,9.1,0.1,0.1,0.1,0.126122,27.8
665,USA98,221.0,251.0,251.0,NaN,4.4,53205.0,NaN,233.0,124.8,8.9,0.2,0.2,0.1,0.121667,46.6
666,USA99,23.0,290.0,151.0,139.0,9.6,38427.0,NaN,159.0,91.5,9.5,0.1,0.1,0.2,0.105340,20.8
667,DE083,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.091968,15.7

# Data Cleaning

In [ ]:
# Start from here